@import 'https://use.fontawesome.com/releases/v5.8.2/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,600,700');

.App h2 {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  padding-top: 30px;
}
.App .divider {
  width: 100%;
}
.App {
  overflow: hidden;
}

body {
  background-color: #764ad7;
  color: #ffffff;
  height: 100vh;
  margin: 0;
  max-height: 100vh;
  font-family: 'Nunito', sans-serif;
}
* {
  box-sizing: border-box;
}
.gameHeader {
  font-size: 2rem;
  margin: 0;
}
.small {
  font-size: 0.8rem;
}
.lightweight {
  font-weight: 200;
}
.guessedSuccessfully {
  color: #2cbe4e;
}
