@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";

.App h2 {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 30px;
  padding-top: 30px;
}
.App .divider {
  width: 100%;
}
